<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <appenders>
    <File name="SearchFile" fileName="logs/search.log">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Filters>
        <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL" />
      </Filters>
    </File>

    <File name="InputErrorsFile" fileName="logs/input_errors.log">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Filters>
        <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL" />
      </Filters>
    </File>

    <File name="ExceptionsFile" fileName="logs/exceptions.log">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Filters>
        <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL" />
      </Filters>
    </File>
  </appenders>
  <loggers>
    <root level="trace">
      <appender-ref ref="InputErrorsFile" level="info"/>
      <appender-ref ref="SearchFile" level="debug"/>
      <appender-ref ref="ExceptionsFile" level="error"/>
    </root>
  </loggers>
</configuration>
